
body{
	min-width:320px;
}
.debt-credit-step4-main{
	margin: 0 15px 92px 15px;
}
.debt-credit-step4-main-desc{
	font-size: 12px;
	margin: 10px 0 6.5px;
}

.debt-credit-step4-warn-info{
	display: none;
	width:100%;
	height:25px;
	background-color:#ffdbdd; 
	color:#fe7171;
	border-radius: 2px;
	line-height: 25px;
	margin:0 auto;
	border:1px solid #f7bcc2;
}
.debt-credit-step4-warn-info>span{
	display: inline-block;
}
.debt-credit-step4-warn-info>span:nth-child(1){
	width:20px;
	height:20px;
	background-position: -132px -1px;
	vertical-align: top;
	margin-top: -1px;
}

.debt-credit-step4-footer{
	width:100%;
}

@media  screen and (max-height:500px) {
    .debt-credit-unopenall-pos-change{
		margin: 0 auto 15px;
    }     
}

@media  screen and (min-height:501px) {
    .debt-credit-unopenall-pos-change{
        position: fixed;
        bottom:15px;
    }
    
}

.debt-credit-step4-remindinfo{
	width:90.6%;
	height:22px;
	margin:0 auto 6px;
	line-height: 22px;
	vertical-align: middle;
}
.debt-credit-step4-remindinfo>span{
	display: inline-block;
}

.debt-credit-step4-footer-btn{
	width:90.6%;
	height:32px;
	background-color:#25aff5; 
	color:white;
	margin:0 auto;
	text-align: center;
	letter-spacing: 1px;
	line-height: 32px;
	border-radius: 3px;
}

.debt-credit-warp-input>input[disabled=disabled]{
	background-color: transparent;
}
.debt-credit-step4-warn-icon{
	width:20px;
	height:20px;
	vertical-align: top;
	background-position: -36px -29px;
}

.debt-credit-point-notopen{
	width:6px;
	height:6px;
	background-color: #efeff4;
	border-radius: 6px;
}
.debt-credit-warp-input{
	position: relative;
}
.debt-credit-desc-verify-input+div{
	position: absolute;
	top:15px;
	right:95px;

}



.debt-credit-step4-select-icon-margin{
	position: absolute;
	right:15px;
	top:3px;
}

.debt-credit-step4-input-width{
	width:58%;
}


.debt-credit-warp-input>span:nth-child(1) {
    width: 25%;
}

@media screen and (min-width:300px) and (max-width: 359px){
	.debt-credit-warp-input>input{
		width:115px;
	}
	.debt-credit-warp-input>.debt-credit-desc-verify-input{
		width:90px;
	}
}

