
.big-error-icon{
	width:14px;
	height:14px;
	border-radius: 14px;
	line-height: 13px;
	text-align: center;
	color:white;
	margin:2px auto 0;
	padding-bottom: 10px;
	box-sizing:border-box;
}

.warp-container{
	width:100%;
	margin-top:50px;
}

.explain-container{
	width:93.75%;
	margin:0 auto;
	background-color: gray;
	border:1px solid #e1e1e6;
	overflow:auto;
	zoom:1;
	border-radius: 5px;
}
.explain-row{
	width:89%;
	height:auto;
	margin:0 0 10px 11% ;
	box-sizing:border-box;
	padding:10px 0;
}
.explain-row>div{
	display: inline-block;
}
.bgc-white{
	background-color: #ffffff;
}

.border-bottom{
	border-bottom: 1px solid #efeff4;
}
.border-bottom-transparent{
	border-bottom: 1px solid transparent;
}
.left-question{
	width:22%;
	vertical-align:top
}
.right-desc{
	width:76%;
	vertical-align:top
}
.font12px{
	font-size:12px;
}
.fontweight{
	font-weight:bold;
}
.color96{
	color:#969696;
}


/* module: module-32pxé›ªç¢§å›¾debt-credit by æœ±ä¼Ÿ */
.debt-credit-spript{
	width:100%;
}
.debt-credit-spript>div{
	margin-left: 50px;
}
.debt-credit-img{
    background:url(../../i/debt-credit/debt-credit-CSSspript.png) no-repeat center center;
    background-size: 300px 190.5px;

}
.debt-credit-name{
        background-position: -13px -7px;
}
.debt-credit-sesame{
	    background-position: -13px -38px;
}
.debt-credit-operator{
	background-position: -14px -67px;
	
}
.debt-credit-bankcard{
	background-position: -14px -98px;
}
.debt-credit-size{
	position: relative;
	width:25px;
	height:25px;
	border-radius: 25px;
	border:3px solid white;
	z-index: 5;
	box-sizing: border-box;
}



/* module: module-line23.4% by æœ±ä¼Ÿ */
.debt-credit-bgc-efeff4{
	background-color:#efeff4;
}
/* module: module-line60px by æœ±ä¼Ÿ */

.debt-credit-name-desc{
	margin-left:10px;
}
.debt-credit-sename-desc{
	margin-left:23px;
}
.debt-credit-operator-desc{
	margin-left:31px;
}
.debt-credit-bankcard-desc{
	margin-left:17px;
}



/* module: module-color by æœ±ä¼Ÿ */
.debt-credit-color3396ff{
	color:#3396ff;
}
.debt-credit-color43b3ff{
	color:#43b3ff;
}

.debt-credit-color969696{
	color:#969696;
}

.debt-credit-colorwhite{
	color:white;
}
.debt-credit-color787878{
	color:#787878;
}
.debt-credit-colorblack{
	color:black;
}
.debt-credit-color5a5a5a{
	color: #5a5a5a;
}

/* module: module-bgcolor43b3ff by æœ±ä¼Ÿ */
.debt-credit-bgcefeff4{
	background-color: #efeff4;
}
.debt-credit-bgcwhite{
	background-color: white;
}
.debt-credit-bgcf0b95da{
	background-color: #0b95da;
}

.debt-credit-bgcf13838{
	background-color: #efeff4;
}

.debt-credit-bgcf13838{
	background-color:  #05cc7f;
}

.debt-credit-bgcfcccccc{
	background-color:  #cccccc;
}

.debt-credit-bgcf43b3ff{
	background-color:  #43b3ff;
}

.debt-credit-bgcf969696{
	background-color:  #969696;
}

.debt-credit-bgc5a5a5a{
	background-color: #5a5a5a;
}

.debt-credit-bgc-tobottom{
	background-image: linear-gradient(to bottom,#0994d9,#4ad3fe);
}


/* module: module-fontweight by æœ±ä¼Ÿ */
.debt-credit-fontweight-bold{
	font-weight: bold;
}

/* module: module-fontsize by æœ±ä¼Ÿ */
.debt-credit-fontsize14px{
	font-size:14px;
}
.debt-credit-fontsize11px{
	font-size:11px;
}
.debt-credit-fontsize12px{
	font-size: 12px;
}
.debt-credit-fontsize36px{
	font:normal 36px "é»‘ä½“" Arial;
}

/* module: module-è¡¨å•æŽ§ä»¶ by æœ±ä¼Ÿ */

.debt-credit-form-warp{
	width:100%;
	margin:0 auto;
}

.debt-credit-warp-input{
	width:100%;
	height:44px;
	border:1px solid #e1e1e6;
	border-radius: 4px;
	line-height: 44px;
	margin-bottom: 6px;

}

.debt-credit-warp-input>span{
	display: inline-block;
	margin-left: 8px;
	vertical-align: top;
}

.debt-credit-desc-right-place{
	width:20px;
	height:20px;
	padding: 13px 15px 0 0;
	float:right;
}


/* module: module-å³ç®­å¤´ by æœ±ä¼Ÿ */
.debt-credit-right-arrow{
	display: inline-block;
	width:20px;
	height:20px;
	vertical-align: top;
	margin: 5px 0 0 -5px;
	-webkit-transform:rotate(90deg);
}

.debt-credit-right-arrow>span{
	display: block;
	width:10px;
	height:1px;
	background-color:#cccccc;
}

.debt-credit-right-arrow>span:nth-child(1){
	-webkit-transform:rotate(50deg);
	margin-left:10px;
}

.debt-credit-right-arrow>span:nth-child(2){
	-webkit-transform:rotate(130deg);
	margin:7px 0 0 10px;
}

.debt-credit-desc-verify-icon{
	width:80px;
	height:30px;
	margin:7px 10px 0 0;
	border-radius: 2px;
	text-align: center;
	line-height: 30px;
}

.debt-credit-f-right{
	float:right;
}

.debt-credit-warp-input>.debt-credit-desc-verify-input{
	width:40%;
}	


/* module: module-displaynone by æœ±ä¼Ÿ */

.debt-credit-displaynone{
	display: none;
}


/* module: module-css3ä¼¸ç¼©ç›’å¸ƒå±€ by æœ±ä¼Ÿ */

.debt-credit-box-pack-justify {
	display: -webkit-box;
	display: -moz-box;
	display: box;
	-webkit-box-align: start;
	-moz-box-align: start;
	box-align: start;
	-webkit-box-align: center;
	-webkit-box-pack: justify;
	-moz-box-pack: justify;
	box-pack: justify;

}

/* module: module-selecté€‰æ‹©æ ·å¼ by æœ±ä¼Ÿ */

.debt-credit-desc-bank-select{
	-webkit-appearance:none;
	border:none;
	width:70%;
	position: relative;
	left:-5px;
}

/* module: module-circle by æœ±ä¼Ÿ */
.debt-credit-circle-warp{
	width:22px;
	height:18px;
	padding-top: 6px;
}

.debt-credit-circle{
	width:11px;
	height:11px;
	border-radius: 18px;
	border:3px solid white;
	position: relative;
	z-index: 5;
	border-width:4px;
	border-style:solid;
	background-image: radial-gradient(#efeff4 60%,#e2e2e7 87%);
	background-image: -webkit-radial-gradient(#efeff4 60%,#e2e2e7 87%);
	top: -2px;
}


/* module: module-è§£é™¤chromeå­—ä½“å¤§å°é™åˆ¶ by æœ±ä¼Ÿ */
.debt-credit-font-norestrict{
	-webkit-text-size-adjust:none;
}

.debt-credit-textalign-center{
	text-align: center;
}
.debt-credit-textalign-right{
	text-align: right;
}

/* module: module-backbtn by æœ±ä¼Ÿ */


.debt-credit-module-btn-icon {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border:1px solid #e1e1e6;
}

.debt-credit-module-btn-back-icon {
    background-position: -59px -50px;
}

.debt-credit-module-btn-consult-icon {
    background-position: -60px 5px;
}

.debt-credit-module-btn-accredit-icon {
    background-position: -59px -108px;
}

.debt-credit-module-btn-desc{
	margin-top: 5px;
	text-align: center;
}

.debt-credit-accrediterror {
    width: 155px;
    height: 90px;
    margin: 0 auto;
    padding-top: 57.5px;
}

.debt-credit-accrediterror-icon{
	width:100%;
	height:75.5px;
	background:url(../../i/debt-credit/step2-accredit-error.png) no-repeat left top;
	background-size: 126px 60.5px;	
}

/* module: module-bottom-longbtn by æœ±ä¼Ÿ */
.debt-credit-longbtn-bottom {
    width: 90.6%;
    height: 32px;
    background-color: #25aff5;
    margin: 0 auto;
    border-radius: 2px;
    text-align: center;
    line-height: 32px;
}

/* module: module-stepall by æœ±ä¼Ÿ */

/*
é¦–éƒ¨è¿›åº¦æ 
*/
.debt-credit-stepall-header{
	width:100%;
	height:61px;
	padding-bottom: 10px;
	border-bottom:1px solid #cccccc;
	position: relative;
	font-size: 12px;
}



.debt-credit-warp-brand-icon{
	width:95%;
	height:68px;
	margin:0 auto;

}

.debt-credit-warp-brand-item>div{
	margin:0 auto;
}

.debt-credit-warp-brand-desc{
	width:95%;
	margin:0 auto;
}


.debt-credit-stepall-main{
	width:100%;
	margin:0 auto;
}
.debt-credit-stepall-main-desc{
	margin:12px 0 9px;
}

.debt-credit-stepall-warn-info{
	display: none;
	width:100%;
	height:25px;
	background-color:#ffdbdd; 
	color:#fe7171;
	border-radius: 2px;
	line-height: 25px;
	margin:0 auto;
}

.debt-credit-stepall-warn-info>span{
	display: inline-block;
}

.debt-credit-stepall-warn-info>span:nth-child(1){
	width:20px;
	height:20px;
	background-position: -25px -5px;
	vertical-align: top;
	margin-top: -1px;
}

.debt-credit-stepall-footer{
	width:100%;
	margin:0 auto;
}

.debt-credit-stepall-remindinfo{
	width:90.6%;
	height:22px;
	margin:0 auto 6px;
	line-height: 22px;
	vertical-align: middle;
}

.debt-credit-stepall-remindinfo>span{
	display: inline-block;
}

.debt-credit-stepall-footer-btn{
	width:90.6%;
	height:32px;
	background-color:#25aff5; 
	color:white;
	margin:0 auto;
	text-align: center;
	letter-spacing: 1px;
	line-height: 32px;
	border-radius: 3px;
}

.debt-credit-warp-input>input[disabled=disabled]{
	background-color: transparent;
}

.debt-credit-stepall-warn-icon{
	width:20px;
	height:20px;
	vertical-align: top;
	background-position: -132px -49px;
}

.debt-credit-point-notopen{
	width:6px;
	height:6px;
	background-color: #efeff4;
	border-radius: 6px;
}
.debt-credit-warp-input{
	position: relative;
}
.debt-credit-desc-verify-input+div{
	position: absolute;
	top:15px;
	right:95px;

}

.debt-credit-stepall-errorreasons{
	width:90.6%;
	margin:45px auto 0;

}
.debt-credit-stepall-errorreasons table{
	border-radius: 3px;
	border:1px solid #e1e1e6;
}
.debt-credit-stepall-errorreasons tr{
	line-height: 35px;
}
.debt-credit-stepall-errorreasons tr td:nth-child(1){
	width:10px;
}
.debt-credit-stepall-errorreasons tr td:nth-child(2){
	width:15%;
}
.debt-credit-stepall-errorreasons tr td:nth-child(3){
	width:83%;
}
.debt-credit-stepall-errorreasons{
	width:90.6%;
	height:auto;
	border:1px solid #e1e1e6;
	border-radius: 3px;
}
.debt-credit-stepall-errorreasons ul{
	width:98%;
	height:auto;
	margin-left:2%;
	
}
.debt-credit-stepall-errorreasons ul li>div{
	box-sizing:border-box;
	padding:12px 0;
	display: inline-block;
}
.debt-credit-stepall-errorreasons ul li:nth-child(1){
	border-bottom:1px solid #e1e1e6;
}
.debt-credit-stepall-errorreasons ul li>div:nth-child(1){
	width:23%;
	vertical-align: top;

}

.debt-credit-stepall-errorreasons ul li>div:nth-child(2){
	width:70.6%;
	margin-right:5%;
}

/* module: module-stepè¿›åº¦æ¡ by æœ±ä¼Ÿ */	

.debt-credit-stepall-header{
	width:100%;
	height:60px;
	padding-bottom: 10px;
	border-bottom:1px solid #cccccc;
	position: relative;
}


.debt-credit-warp-brand-icon{
	width:95%;
	height:60px;
	margin:0 auto;
	padding-top:6px;
}


.debt-credit-warp-brand-icon-line{
	position: absolute;
	width:80%;
	height:1px;
	left:50%;
	top:28px;
	margin-left: -40%;
}
.debt-credit-warp-brand-desc{
	width:95%;
	margin:0 auto;
}

/* module: module-ä¸‰åˆ†ä¹‹ä¸€æ¸å˜è‰² by æœ±ä¼Ÿ */	
.debt-credit-warp-brand-icon-line-lineargradient1_3{
	background-image: linear-gradient( to right, #43b3ff 0%, #43b3ff 55%,#efeff4 31%,#efeff4 100%);
}
.debt-credit-warp-brand-icon-line-lineargradient2_3{
	background-image: linear-gradient( to right, #43b3ff 0%, #43b3ff 100%,#efeff4 66%,#efeff4 100%);

}

/* module: module-å³æµ®åŠ¨ by æœ±ä¼Ÿ */	
.debt-credit-module-floatright{
	float:right;
}

.debt-credit-sesamecopy-mt15b8{
	margin-left:3%;
}

/* module: module-åº•éƒ¨é•¿btn by æœ±ä¼Ÿ */	

.debt-credit-footer-btn {
    width: 90.6%;
    height: 32px;
    background-color: #25aff5;
    color: white;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 1px;
    line-height: 32px;
    border-radius: 2px;
}

.debt-credit-mt5px{
	margin-top: 5px;

}

.debt-credit-mb15px{
	margin-bottom: 15px;
}

/* module: module-model æœ±ä¼Ÿ */	

.debt-credit-model-warp{
  position: fixed;
  width:100%;
  height:100%;
  left:0;
  top:0;
  background:rgba(0,0,0,0.5);
  z-index: 10;
}
.debt-credit-model{
  width:270px;

  position: fixed;
  left:50%;
  top:50%;
  margin-left:-135px;
  margin-top:-100px;
  background:rgba(228,228,228,0.85);
  border-radius: 5px;
}
.debt-credit-model-body{
  width:270px;
  border-bottom:1px solid #afafbc;
}
.debt-credit-model-footer{
	line-height: 43px  
}
.debt-credit-model-footer>div{
  width:132px;
  height:43px;
  line-height: 43px; 
  display: inline-block;
  vertical-align: top;    
}
.debt-credit-model-footer>div:nth-child(1){
  border-right:1px solid #afafbc;
}


/* module: module-posfixed æœ±ä¼Ÿ */	
.debt-credit-posfixed{
	position: fixed;
	bottom:15px;
}


.debt-credit-posabsolute{
	position: absolute;
	bottom:15px;
}	
