.wrap{
	width: 100%;
	height: 100%;
	background: #fff;
	overflow: hidden;
}
.hide{
  display: none;
}
.credit{
	/*padding: 0 15px;*/
}
.credit-nav{
	width: 100%;
	padding: 15px 0;
	padding-top: 0;

}
.crdeitCardList_banner{
  wdith:100%;
  background:#f0eff5;
}
.crdeitCardList_banner span{
  display: block;
}
.crdeitCardList_banner span img{
  width: 100%;
}
.crdeitCardList_banner p{
  line-height: 25px;
  margin-top: 5px;
  padding:0 15px;
  color: #666666;
}
.credit-nav ul{
	display: -webkit-box;
	display: box;
}
.credit-nav ul li{
	line-height: 30px;
	/*margin-right: 10px;
	border: 1px solid #cccccc;
	border-radius: 4px;*/
	/*border-top: 1px solid #e6e6e6;*/
	border-bottom: 1px solid #e6e6e6;
	border-right: 1px #e6e6e6 solid;
	/*background: url(../i/upgrade/ss.png) no-repeat right center;*/
	background-size: 1px 20px;
	-webkit-box-flex: 1;
	box-flex: 1;
  width: 1px;
	text-align: center;
	color: #969696;
	position: relative;
}
.credit-nav ul li:last-child{
	margin-right: 0;
}
.credit-nav ul li.on{
	color: #fff;
	background: #25aff5;
	border-bottom:none;
}
.credit-nav ul li.on:after{
	content:"";
	width: 16px;
	height: 10px;
	position: absolute;
	bottom: 0;
	right: 0;
	background: url(../i/upgrade/ss.png) no-repeat center 10px;
	background-size: 100% 100%;
}
.credit-info{
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
	padding:0 10px;
}
.credit-info ul li {
  position: relative;
  width: 100%;
  height: 54px;
  line-height: 54px;
  font-size: 18px;
  color: #000;
  border-bottom: 1px solid #e6e6e6;
}
.credit-info ul li > input {
  float: left;
  margin-top: 16px;
  font-size: 14px;
  width: 80%;
  outline: none;
  border-top: none;
}
.credit-info ul li:before {
  float: left;
  content: '';
  width: 15px;
  height: 16px;
  margin-top: 18px;
  margin-right: 20px;
  background: url(../i/upgrade/credit-icon.png) no-repeat;
  background-size: 30px 48px;
  margin-left: 5px;
}
.credit-info ul li.credit-user:before{
	background-position: 0 0;
}
.credit-info ul li.credit-pwd:before{
	background-position: 0 -16px;
}
.credit-info ul li.credit-pic:before{
	background-position: 0 -32px;
}
.credit-info ul li.credit-pic img{
  position: absolute;
  right: 15px;
  top: 13px;
  /* float: right; */
  width: 68px;
  height: 27px;
  /* margin-top: 14px;
  margin-right: 15px; */
}
/*.credit-info ul li.credit-pic span{
  position: absolute;
  top: 13px;
  right: 100px;
  color: #cccccc;
}*/
.credit-btn{
	width: 95%;
	background: #25aff5;
	text-align: center;
	height: 32px;
	line-height: 32px;
	font-size: 14px;
	border-radius: 30px;
	color: #fff;
	margin:0 auto;
	margin-top: 32.5px;
}
.credit-cke{
	margin-top: 11px;
	position: relative;
}
.credit-cke input[type=checkbox]{
	opacity: 0;
}
.credit-cke input[type=checkbox]+label{
	/* position: absolute;
	left: 5px;
	top: 3px; */

	width: 12px;
	height: 12px;
	background: url(../i/upgrade/cke.png) no-repeat;
	background-size: 24px 24px;
}
.credit-cke input[type=checkbox]:checked+label{
	/* position: absolute;
	left: 5px;
	top: 3px; */
	width: 12px;
	height: 12px;
	background: url(../i/upgrade/cke.png) no-repeat;
	background-size: 24px 24px;
	background-position: 0 -12px;
}
.credit-cke span{
	margin-left: 5px;
	color: #25aff5;
}
.credit-cke span i{
	color: #969696;
  font-style: normal;
  margin-right: 3px;
}
.crdeit-bottomXY{
	color: #25aff5;
	text-align: center;
    font-size: 13px;
    position: fixed;
    bottom:0px;
    margin:0 auto;
    left:0;
    right:0;
    height:40px;
    line-height: 40px;
}

.choose-bank-list-wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background: #fff;
  padding-bottom: 1.5rem;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
/*   transiton: all .45s linear;
-webkit-transition: all .45s linear;
transform: translate(100%, 0);
-webkit-transform: translate(100%, 0); */
}
/* @-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
} */
.choose-bank-list-wrap ul li {
  margin-left: 15px;
  height: 44px;
  line-height: 44px;
  font-size: 18px;
  color: #333333;
  border-bottom: 1px solid #e6e6e6;
}
.choose-bank-list-wrap ul li > span {
  float: left;
}
.choose-bank-list-wrap ul li > i {
  float: right;
  width: 20px;
  height: 20px;
  background: url(../i/upgrade/bankLogos.png) no-repeat;
  background-size: 50px 450px;
  background-position: -30px 0;
  margin-right: 15px;
  margin-top: 11px;
}
.choose-bank-list-wrap ul li:before {
  float: left;
  content: '';
  width: 20px;
  height: 20px;
  margin-top: 11px;
  margin-right: 14px;
  background: url(../i/upgrade/bankLogos.png) no-repeat;
  background-size: 50px 450px;
}
.choose-bank-list-wrap ul li.BCCB:before {
  background-position: 0 -367px;
}
.choose-bank-list-wrap ul li.BOB:before {
  background-position: 0 -367px;
}
.choose-bank-list-wrap ul li.ABC:before {
  background-position: 0 -23px;
}
.choose-bank-list-wrap ul li.SZCB:before {
  background-position: 0 0;
}
.choose-bank-list-wrap ul li.CIB:before {
  background-position: 0 -71px;
}
.choose-bank-list-wrap ul li.CMBCHINA:before {
  background-position: 0 -158.5px;
}
.choose-bank-list-wrap ul li.CMB:before {
  background-position: 0 -158.5px;
}
.choose-bank-list-wrap ul li.BOC:before {
  background-position: 0 -227.5px;
}
.choose-bank-list-wrap ul li.PSBC:before {
  background-position: 0 -182.5px;
}
.choose-bank-list-wrap ul li.ECITIC:before {
  background-position: 0 -112px;
}
.choose-bank-list-wrap ul li.CNCB:before {
  background-position: 0 -112px;
}
.choose-bank-list-wrap ul li.SCTABK:before {
  background-position: 0 -295px;
}
.choose-bank-list-wrap ul li.CEB:before {
  background-position: 0 -134px;
}
.choose-bank-list-wrap ul li.CGB:before {
  background-position: 0 -341px;
}
.choose-bank-list-wrap ul li.HXB:before {
  background-position: 0 -317.5px;
}
.choose-bank-list-wrap ul li.HUAXIA:before {
  background-position: 0 -317.5px;
}
.choose-bank-list-wrap ul li.CCB:before {
  background-position: 0 -250px;
}
.choose-bank-list-wrap ul li.BCOM:before {
  background-position: 0 -206px;
}
.choose-bank-list-wrap ul li.BOCO:before {
  background-position: 0 -206px;
}
.choose-bank-list-wrap ul li.CMBC:before {
  background-position: 0 -47px;
}
.choose-bank-list-wrap ul li.ICBC:before {
  background-position: 0 -272.5px;
}
.choose-bank-list-wrap ul li.SHB:before {
  background-position: 0 -390px;
}
.choose-bank-list-wrap ul li.SPDB:before {
  background-position: 0 -92px;
}
.choose-bank-list-wrap ul li.SPD:before {
  background-position: 0 -92px;
}
.choose-bank-list-wrap ul li.CITIBANK:before {
  background-position: 0 -409px;
}
.choose-bank-list-wrap ul li.current {
  background: #efeff4;
}
.choose-bank-list-wrap.showBankList {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}

.subNav{
  position:relative;
  /* margin: 0 20px; */
  height: 60px;
  border-bottom:1px solid #d0d0d0;
  box-sizing: border-box;
/*   background: url(../i/upgrade/sub-icon.jpg) 0 16px no-repeat;
 background-size:19px; */
}
.subNav-span{
  display:block;
  height:100%;
  line-height:60px;
  font-size:16px;
  color:#25aff5;
  /* text-indent: 30px;
  background:url(../i/upgrade/sub-icon-drop.jpg) 95% 20px no-repeat;
  -webkit-background-size: 19px;
  background-size: 19px; */
  cursor: pointer;
}
.subNav-span:before{
  float: left;
  content: '';
  width: 15px;
  height: 16px;
  margin-top: 22px;
  margin-right: 20px;
  background: url(../i/upgrade/sub-icon.png) no-repeat;
  background-size: 15px 16px;
  margin-left: 5px;
}
.subNav-span:after{
  float: right;
  content: '';
  width: 14px;
  height: 8px;
  margin-top: 25px;
  margin-right: 20px;
  background: url(../i/upgrade/sub-icon-drop.png) no-repeat;
  background-size: 14px 8px;
  margin-left: 5px;
}
.subNav-ul{
  display:none;
  position: absolute;
  top:45px;
  left: 5%;
  border:1px solid #25aff5;
  width:90%;
  z-index: 1;
  border-radius: 5px;
  background-color: #fff;
}
.subNav-ul.show{
  display: block;
}
.subNav-ul>li{
  height:32px;
  border-bottom:1px solid #25aff5;
  font-size: 14px;
  line-height:32px;
  text-indent: 30px;
  cursor: pointer;
}
.subNav-ul>li:first-child{
  border-radius: 5px 5px 0 0 ;
}
.subNav-ul>li:last-child{
  border:none;
  border-radius: 0 0 5px 5px;
}
.subNav-ul>li:hover{
  background-color: #fff4f0;
}
