/* 借贷首页-公共*/
.pre-money-wrap{
	width:100%;
	background-size :100%;
	background-color :rgb(239,239,244);
    padding-top: 15px;
    position: absolute;
 }
.debitHome-lowAmount-nav{
	margin:0 5px;
	background-color: rgb(173,173,185);
	height:4px;
	border-radius: 5px 5px 5px 5px;
	border-top:1px solid rgb(159,159,173);
}
.pre-money-scope{
	margin:0 11px;
	border:1px solid rgb(225,225,230);
	border-bottom: none;
	z-index: 1; 
	margin-top: -5px;
	background-color: rgb(255,255,255);
	min-height:100px;
	background-color :rgb(255,255,255);
}
.pre-money-scope-100{
	padding-bottom: 50px;
	border-bottom:1px solid rgb(225,225,230); 
	padding-top: 45px;
}
.debitHome-lowAmount-Wavline{
	background: url(../i/pre-money/debitHome-lowAmount-Wavline.png);
    background-repeat: repeat;
    background-size: contain; 
    margin:0 12px;
    height:3px;
}
.fz16{font-size: 16px;}
.ptb12{padding: 12px 0 12px 0;}
.mb60{margin-bottom: 60px;}
.mt60{margin-top: 60px;}
.tc{text-align: center;}
.ib{display: inline-block;}
.pl12{padding-left: 12px;}
.mt_51{margin-top: -51px;}
.mt51{margin-top: 51px;}
.mt_47{margin-top: -47px;}
.mt_10{margin-top: -10px; z-index: 3;}
.mt20{margin-top: 20px;}
.mt10{margin-top: 10px;}
.pb60{padding-bottom: 60px;}
.pb1{padding-bottom: 1px;}
.mb10{margin-bottom: 10px;}
.mb20{margin-bottom: 20px;}
.pb20{padding-bottom: 20px;}
.mhNone{min-height: 0;}

.cblue{color:rgb(37,175,245);}


/* 借贷首页-额度过低*/

.pre-money-scope-sec{
	color:rgb(207,207,207);
	font-size: 12px;
}
@media  screen and (max-height:550px) {
	.debitHome-blueCir{

	background-color: rgb(37,175,245);
	height:32px;
	border-radius: 2px 2px 2px 2px;
	text-align: center;
	line-height: 32px;
	color:white;
	font-size: 14px;
	margin: 20px 10px 110px 10px;

}
}
@media  screen and (min-height:551px) {
	.debitHome-blueCir{

	background-color: rgb(37,175,245);
	height:32px;
	border-radius: 2px 2px 2px 2px;
	text-align: center;
	line-height: 32px;
	color:white;
	font-size: 14px;
	margin: 20px 10px 0 10px;

 }
}
@media  screen and (max-height:600px) {
	.debitHome-blueCirInput{

	background-color: rgb(37,175,245);
	height:32px;
	border-radius: 2px 2px 2px 2px;
	text-align: center;
	line-height: 32px;
	color:white;
	font-size: 14px;
	margin: 20px 10px 110px 10px;

}
}
@media  screen and (min-height:601px) {
	.debitHome-blueCirInput{

	background-color: rgb(37,175,245);
	height:32px;
	border-radius: 2px 2px 2px 2px;
	text-align: center;
	line-height: 32px;
	color:white;
	font-size: 14px;
	margin: 20px 10px 0 10px;

 }
}


.debitHome-lowAmount-bottom{
	
	margin:0 auto;
	margin-top: -50px;
	text-align: center;
	font-size: 12px;
}
.debitHome-lowAmount-bottomImg{
	margin:64px auto 0 auto;
	width:46.2%;
}
@media  screen and (max-height:550px) {
.debitHome-lowAmount-bottomMed{
	color:rgb(196,196,197);
	margin: 18px 0 80px 0;
 }
}
@media  screen and (min-height:551px) {
.debitHome-lowAmount-bottomMed{
	color:rgb(196,196,197);
	margin-top: 18px;
 }
}
.debitHome-lowAmount-bottomHelp{
    position: fixed;
    bottom:0px;
    margin:0 auto;  
    left:0;  
    right:0;
    color:rgb(109,192,245);
    font-size: 13px;
    background-color: #efeff4;
    height:40px;
    line-height: 40px;
}
.debitHome-lowAmount-bottomHelp a,.debitHome-lowAmount-bottomHelp a:visited{
	color:rgb(109,192,245);
}
.pre-money-scope-100Sec{
	color: rgb(50,50,50);
	font-size: 45px;
	margin-top: 10px;
	line-height: 45px;
	padding-bottom: 15px;
}



/* 借贷首页-开通成功-期限1 */
.debitHmoe-openSucInput-bottom{
    color:rgb(109,192,245);
	font-size: 13px;
	text-align: center;
	margin: 120px 0 10px 0;
}
.debitHmoe-openSucInput-bottomXY{
	color:rgb(109,192,245);
	text-align: center;
    font-size: 13px;
    position: fixed;
    bottom:0px;
    margin:0 auto;  
    left:0;  
    right:0;
    height:40px;
    line-height: 40px;
    background-color: #efeff4;
}
.mg015{
	margin:0 13px;
	font-size: 12px;
}
.debitHome-openSucInput-lend{
	margin-top: 21px;
	color:black;
	margin-bottom: 10px;
}
.debitHome-openSucInput-lend1000{
	background-color:rgb(245,245,245); 
	height:44px;
	border-radius: 2px 2px 2px 2pre-money-scope-100Secpre-money-scope-100Secpx;
	border:1px solid rgb(225,225,230);
	line-height: 44px;
	font-size: 15px;
	margin-bottom: 5px;
	color:black;
}
.debitHome-openSucInput-lend1000 span:first-child{
	color:rgb(150,150,150);
}
.fr-mr12 input{
    width: 200px;
    background-color:rgb(245,245,245); 
    height:44px;
    line-height: 44px; 
    float:right;
    text-align: right;
	padding-right: 12px;
}

.mb28{
	margin-bottom: 70px;
}
.pre-money-scope-100-men{
	width:44px;
	height:18px;
	border:1px solid rgb(63,184,246);
	border-radius: 10px 10px 10px 10px;
	font-size: 12px;
	color:rgb(63,184,246);
	line-height: 18px;
    margin-left: 44px; 
	z-index: 0;
	position:absolute;
	top:14px;
	right:10px;

}
.debitHome-openSusInput-3000{
	position: relative;
}



/* 借贷首页-开通成功-期限1 有提示*/

.debitHome-openSuLimite-red{
	background-color:rgb(255,235,236); 
	border:1px solid #fbdee0;
	border-radius: 2px 2px 2px 2px;
	line-height: 24px;
	font-size: 12px;
	color:rgb(230,156,162);
	margin-top: 8px;
	margin-bottom: 8px;
	padding-left: 7px;
}


.debitHome-openSuLimite-red!{
	display: inline-block;
}

/* 借贷首页-开通成功-期限1 有提示*/
.debitHome-openSucLimAlt-lim{
	font-size: 12px;
	border-top: 1px solid rgb(225,225,230);
	padding-top: 20px;
    padding-bottom: 10px;
}
.cb{color:rgb(103,103,103); }

.mb20{margin-bottom: 20px;}
.debitHome-openSucLimAlt-mny{
	color:rgb(37,175,245);
}
.debitHome-openSucLimAlt-mny div:first-child{
	font-size: 20px;
	display: inline-block;
}
.debitHome-openSucLimAlt-mny div:last-child{
	font-size: 12px;
	float: right;
	display: inline-block;
	margin-top: 5px;
}
.debitHome-openSucLimAlt-mny div:last-child span{
	width:12px;
	height:14px;
	display: block;
	display: inline-block;
	padding-right: 5px;

}
.debitHome-openSucLimAlt-mny div:last-child span img{
	padding-top: 4px;
}
/*0425借贷确认页，获取行业信息*/
.debitHome-input{
	padding-left: 15px;
	border-top: 1px solid #e1e1e6;
	border-bottom: 1px solid #e1e1e6;
	font-size: 12px;
	background-color: #ffffff;
}
.debitHome-line{
	width: 100%;
	height: 10px;
	background: #efeff4;
	border-top: 1px solid #e1e1e6;
}
.debitHome-bottom-line{
	width: 100%;
	height: 4px;
	background: #efeff4;
}
.debitHome-input-cell{
	line-height: 1;
	padding: 13px 3px;
	color: #000000;
	position: relative;
	border-bottom: 1px solid #efeff4;
	
}
.debitHome-input-cell:last-child{
	border-bottom: none;
}
.debitHome-input-select{
	-webkit-appearance:none;
	border:none;
	width:70%;
	position: absolute;
	right: 0;
	top: 0;
	font-size: 12px;
	padding: 9px 3px;
	opacity: 0;
	border-bottom: 1px solid #efeff4;
	z-index: 3;
}
.debitHome-input-right{
	/* position: absolute;
	right: px;
	top: 13px; */
	float: right;
	margin-right: 28px;
	position: relative;
	color: #a6a6a6;
}
.debitHome-input-right:after{
	content: "";
	width: 6px;
	height: 10px;
	background: url(../i/debt-credit/right.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	right: -14px;
	top: 0;
}
.debitHome-input-mail{
	float: right;
	margin-right: 26px;
}
.debitHome-input-mail input{
	outline: none;
	border: none;
	font-size: 12px;
	padding: 0 3px;
	text-align: right;
}
.debitInfoConfom-selectUseBom{
    background-color: #efeff4;
    height:80px;
    z-index: 1000;
    padding-top:10px; 
}
.debitHome-openSuLimite-submtXY{
    
    margin:0 15px;  
    
}
.debitHome-openSuLimite-submtXY div>a{
	color:rgb(116,197,248);
}
.debitHome-openSuLimite-submtXY button{
	background-color: rgb(37,175,245);
	height:32px;
	border-radius: 2px 2px 2px 2px;
	text-align: center;
	line-height: 32px;
	color:white;
	font-size: 14px;
	margin-top: 10px;
	display: block;
	width:100%;
}
.errormsg{
	padding: 8px 15px 8px 15px;
}
/* 借贷首页-开通成功-数据同步中  */
.debitSusDataing-tanFram{
	margin:0 25px;
	background-color:rgb(228,228,228);
	border-radius: 5px 5px 5px 5px;
	text-align: center;
	margin-top: 45%;
	padding:30px 0 15px 0;
	}
.debitSusDataing-tanFramFir{
	width:36px;
	margin:0 auto 15px auto;
}
.debitSusDataing-tanFramSec{
	text-align: center;
	font-size: 12px;
	color:rgb(102,102,102);

}
.debitSusDataing-tanFramThre{
	text-align: center;
	color:rgb(37,175,245);
	font-size: 13px;
	margin:35px auto 12px auto;
}
.debitSusDataing-tanFramThre img{
	width:10px;
	margin-right: 5px;
	display: inline-block;
}

/* 借贷首页-开通成功-借贷信息确认*/
.bw{background-color: white;}
.debitInfoConfm-selctUse-fst{
	padding:10px 15px 15px 15px;
	border-bottom: 1px solid rgb(225,225,230);
	font-size: 13px;
	width:100%;
	margin-left: -2px;
}
.debitInfoConfm-selctUse-fst tr{
	height:23px;
}
.debitInfoConfm-selctUse-fst tr td:first-child{
	color:rgb(0,0,0);
	width:32%;
}
.debitInfoConfm-selctUse-fst tr td:last-child{
	color:rgb(147,147,147);
}
.debitInfoConfm-selctUse-sec{
	margin:20px 15px 0;/*原样式margin:20px 15px;*/
	font-size: 12px;
}
.debitInfoConfm-selctUse-sec-fstBk{
	padding-bottom: 20px;
}

.debitInfoConfm-selctUse-sec-fstBkTm{
	width:100%;
	color:rgb(147,147,147);
	font-size: 12px;
	margin-left: 0px;
}
.debitInfoConfm-selctUse-sec-fstBkTm  tr td:first-child{
	color:rgb(0,0,0);
	width:32%;
}
/* .debitInfoConfom-selectUseBom{
	position: fixed;
    bottom:0px;
    left:0;  
    right:0;
    background-color: white;
    height:80px;
    z-index: 1000;
    padding-top:10px; 
}
.debitHome-openSuLimite-submtXY{
    
    margin:0 15px;  
    

}
.debitHome-openSuLimite-submtXY div>a{
	color:rgb(116,197,248);
}
.debitHome-openSuLimite-submtXY button{
	background-color: rgb(37,175,245);
	height:32px;
	border-radius: 2px 2px 2px 2px;
	text-align: center;
	line-height: 32px;
	color:white;
	font-size: 14px;
	margin-top: 10px;
	display: block;
	width:100%;
} */
.debitHome-openSuLimite-submt{
        margin-top: 105px;
    } 
.debitHome-openSuLimite-submt div>span{
	color:rgb(116,197,248);
}
.debitHome-openSuLimite-submt div:last-child{
	background-color: rgb(37,175,245);
	height:32px;
	border-radius: 2px 2px 2px 2px;
	text-align: center;
	line-height: 32px;
	color:white;
	font-size: 14px;
	margin-top: 10px;
}
.debitInfoConfm-selctUseFrame label{

    width:21%;
	height:30px;
	margin-right:  0.8%;	
	display: inline-block;
	border:1px solid rgb(225,225,230);
	border-radius: 2px 2px 2px 2px;
	text-align:center;
	line-height: 30px;
	position: relative;
}
.debitInfoConfm-selctUseFrame  input{
	opacity:0;
	z-index:10;
	width:0.1px;
}
.debitInfoConfm-selctUseFrame label:nth-child(8){
	margin-bottom: 10px;
	margin-right: 0;
	z-index: 100;
}
.debitInfoConfm-selctUseFrame label:nth-child(10){
	margin-left: 3px;
	z-index: 100;
} 
.debitInfoConfm-selctUseFrame input:checked + label{
	background-color:rgb(37,175,245);
	color:white;
	border:none;
}
.debitInfoConfm-selctUseFrame input:checked + label span{
	width: 10px;
	height: 10px;
	border-radius: 12px;
    border: 1px solid rgb(37,175,245);
    background-color: white;
    color: rgb(37,175,245);
    text-align: center;
    line-height: 12px;
    display: inline-block;
    font-size: 12px;
    position:absolute;
    right:-2px;
    top:-2px;
}


.debitInfoConfm-selctUseFrame input:checked + label span:before{
    content: "";
    width: 5px;
   height: 4px;
    vertical-align: top;
    border-left: 1px solid rgb(37,175,245);
    border-bottom: 1px solid rgb(37,175,245);
    -webkit-transform: rotate(-53deg);
    transform: rotate(-53deg);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
     top:-1px;
     right:-1px;
    position:absolute;
}

.debitInfoConfm-selctUseFrame input:checked + label span:before{
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  top: 2px;
  left: 2px;
}
/* JS写的借贷用途选择 */

/* .debitInfoConfm-selctUseFrame div{
	width:22%;
	height:30px;
	margin-right: 2%;
	display: inline-block;
	border:1px solid rgb(225,225,230);
	border-radius: 6px 6px 6px 6px;
	text-align:center;
	line-height: 30px;
	position: relative;
}
.debitInfoConfm-selctUseFrame div:last-child{
	margin-right: 0;
	z-index: 6;
}
.mb3{margin-bottom: 3px;}
.debitInfoConfm-selctUseFrameSec div{
	width:22%;
	height:30px;
	margin-right: 2%;
	display: inline-block;
	border:1px solid rgb(225,225,230);
	border-radius: 6px 6px 6px 6px;
	text-align:center;
	line-height: 30px;
	margin-top: 10px;
	margin-bottom: 3px;
	position: relative;
} */

/* 借贷信息确认的弹窗  */
.none{display:none;}
.debitInfoConfm-tanBg{
	background-color:rgba(0,0,0,0.75); 
	background-size:contain;
	width:100%;
	height:100%;
    background-repeat:repeat;
	position:fixed;
	top:0px;
	z-index: 100;
} 
.debitInfoConfm-tanFram{
	margin:0 25px;
	background-color:white;
	border-radius: 2px 2px 2px 2px;
	text-align: center;
	margin-top: 45%;
	}
.debitInfoConfm-tanFramFir{
	padding:20px 15px 10px 15px;
	color:black; 
	font-size: 15px;
}
.debitInfoConfm-tanFramSec{
	border-top: 1px solid rgb(175,175,188);
	height:45px;
	line-height: 45px;
	color:rgb(0,122,255);
	font-size: 17px;
}



/*上传身份证*/
@media  screen and (max-height:500px){
	.uoloadId-loadSft-rRed{
    padding-bottom: 20px;

   }
}
@media  screen and (max-height:500px){
	.uoloadId-loadSft-rRed1{
    padding-bottom: 70px;

   }
}
@media  screen and (min-height:501px){
	.uoloadId-loadSft-rRed{
    padding-bottom: 0px;

   }
}
@media  screen and (min-height:501px){
	.uoloadId-loadSft-rRed1{
    padding-bottom: 0;

   }
}

.uoloadId-loadSft-rRed-content{
	margin:0 15px 15px 15px ;
	font-size: 12px;
	color:black;
}
.uoloadId-loadSft-rRed-imgHalf{
	height:125px;
	line-height:125px;
	padding-bottom:15px;
	position: relative;
	border-bottom: 1px solid rgb(225,225,230);
}
.uoloadId-loadSft-rRed-imgHalf div{
	display: inline-block;
}
.uoloadId-loadSft-rRed-imgHalfTil{
	width: 18px;
	height: 18px;
	border-radius: 9px 9px 9px 9px;
    background-color: rgb(37,175,245);
    color: white;
    text-align: center;
    line-height: 18px;
    margin-right: 15px;
}
.uoloadId-loadSft-rRed-imgHalf div:last-child{
	width:125px;
	position: absolute;
	right:0;
	margin-top: 25px;
}

.debitHome-openSuLimite-but{
	background-color: rgb(37,175,245);
	height:32px;
	border-radius: 2px 2px 2px 2px;
	text-align: center;
	line-height: 32px;
	color:white;
	font-size: 14px;
}

.unloadId-loadSft-rRed-titleIm{
	width: 12px;
    height: 12px;
    border-radius: 8px 8px 8px 8px;
    border: 1px solid rgb(37,175,245);
    color: rgb(37,175,245);
    text-align: center;
    line-height: 12px;
    display: inline-block;
    font-size: 12px;
    margin-right: 3px;
    padding-right: 1px;
}
.unloadId-loadSft-rRed-titleImRed{
/*	width: 12px;
	height: 12px;
	border-radius: 7px 7px 7px 7px;
    border: 1px solid rgb(230,156,162);
    color: rgb(230,156,162);
    text-align: center;
    line-height: 12px;
    display: inline-block;
    font-size: 12px;
    margin-right: 5px;
    padding-top:1px;
    padding-right: 1px;*/
  background: url(../i/icon_01.png) no-repeat;
  background-size: 25px;
  display: inline-block;
    width: 12px;
    height: 12px;
    background-position: 0 -173px;
    position: relative;
    top: 1px;
}
.unloadId-loadSft--corTitl{
	display: block;
	width: 12px;
	height: 12px;
	border-radius: 6px 6px 6px 6px;
    border: 1px solid rgb(37,175,245);
    background-color: white;
    color: rgb(37,175,245);
    text-align: center;
    line-height: 12px;
    display: inline-block;
    font-size: 12px;
    position:absolute;
    right:-1px;
    top:-2px;
}
.debitHome-openSuLimite-redTitle{
    position: fixed;
    bottom:0;
    padding:15px 15px ;  
    left:0;  
    right:0;
    background-color:white;
}


/*借贷首页-审核中状态*/
.debitHome-auditpd{
	margin:0 10px;
}
.debitHome-auditFir{
	background-color: white;
	padding:30px 16px 36px 16px;
	border: 1px solid rgb(225,225,230);
	border-bottom: none;
}
.debitHome-auditDrop{
	width:8px;
	margin:4px auto 0 auto;
	float:left;
}

.debitHome-auditBlue dd{
	width:2px;
	height:2px;
	border-radius: 2px 2px 2px 2px;
	background-color:rgb(37,175,245); 
	margin:2px auto;

}
.debitHome-auditBlue dd:first-child{
	width: 4px;
	height:4px;
	border-radius: 4px 4px 4px 4px;
	background-color: white;
	border:2px solid rgb(37,175,245);
	margin-bottom:3px;
	z-index: 1; 
}
.debitHome-auditGrey{
	margin-top: 3px;
}
.debitHome-auditGrey dd{
	width:2px;
	height:2px;
	border-radius: 2px 2px 2px 2px;
	background-color:rgb(210,210,214); 
	margin:2px auto;
}
.debitHome-auditGrey dd:last-child{
	width:8px;
	height:8px;
	border-radius: 0 0 0 0;
	background-color: transparent;
	margin-top: 4px;

}
.debitHome-auditRed{
	margin-top: 3px;
}
.debitHome-auditRed dd{
	width:2px;
	height:2px;
	border-radius: 2px 2px 2px 2px;
	background-color:red; 
	margin:3px auto;
}
.debitHome-auditRed dd:last-child{
	width:8px;
	height:8px;
	border-radius: 0 0 0 0;
	background-color: transparent;
	margin-top: 4px;
}
.debitHome-auditRight{margin-right: 9px;margin-left: 18px;}
.debitHome-auditRight-sus{
	background-color: rgb(37,175,245); 
	width:132px;
	height:24;
	border-radius: 12px 12px 12px 12px;
	text-align: center;
	line-height: 24px;
	color:white;
}
.debitHome-auditRight-font{
	color:rgb(37,175,245);
	font-size: 12px;
	height:24;
	line-height: 24px;
}
.debitHome-auditRight-font span{
	margin-left: 7px;
}
.debitHome-auditRight-load{
	background-color: rgb(210,210,214); 
	width:192px;
	height:24;
	border-radius: 12px 12px 12px 12px;
	text-align: center;
	line-height: 24px;
	color:white;
	margin-top: 20px;
}
.debitHome-auditRight-Wavline{
	background: url(../i/pre-money/debitHome-lowAmount-Wavline.png);
    background-repeat: repeat;
    background-size: contain; 
    height:3px;
}

.debitHome-auditSec{
	font-size: 12px;
	color:rgb(150,150,150);
	text-align: center;
	padding:17px 0 12px 0;
}
.debitHome-auditSec span{
	width:2px;
	height:2px;
	border-radius: 2px 2px 2px 2px;
	background-color:rgb(150,150,150);
	display: inline-block;
	margin:0 6px 2px 6px;
}
@media  screen and (max-height:600px) {
    .debitHome-auditThre{
	background-color: white;
	padding-left: 15px;
	border: 1px solid rgb(225,225,230);
    border-radius: 2px 2px 2px 2px; 
    margin-bottom: 100px;
   }    
}
@media  screen and (min-height:600px) {
    .debitHome-auditThre{
	background-color: white;
	padding-left: 15px;
	border: 1px solid rgb(225,225,230);
    border-radius: 2px 2px 2px 2px; 
   }    
}
@media  screen and (max-height:450px) {
    .debitHome-auditThreAuding{
	background-color: white;
	padding-left: 15px;
	border: 1px solid rgb(225,225,230);
    border-radius: 2px 2px 2px 2px; 
    margin-bottom: 100px;
   }    
}
@media  screen and (min-height:451px) {
    .debitHome-auditThreAuding{
	background-color: white;
	padding-left: 15px;
	border: 1px solid rgb(225,225,230);
    border-radius: 2px 2px 2px 2px; 
   }    
}
.debitHome-auditThre-content div{   
    line-height: 36px;
    border-bottom: 1px solid rgb(239,239,244);
    font-size: 12px;
}
.debitHome-auditThre-content div:last-child{   
    border-bottom: none;
}
.debitHome-auditThre-content div span:first-child{   
    color:black;
}
.debitHome-auditThre-content div span:last-child{   
    color:rgb(150,150,150);
    font-size: 13px;
    float:right;
    margin-right: 15px;
}
.debitHome-auditFouring{
    position: fixed;
    bottom:0px;
    margin:0 auto;  
    left:0;  
    right:0;
    background-color: rgb(239,239,244);
    height:90px;
    padding-top: 10px;
}
.debitHome-auditFour{
    position: fixed;
    bottom:0px;
    margin:0 auto;  
    left:0;  
    right:0;
    background-color: rgb(239,239,244);
    height:90px;
    padding-top: 10px;
}
.unloadId-loadAft-butWrap{
    position: fixed;
    bottom:0px;
    margin:0 15px;  
    left:0;  
    right:0;
    height:47px;
    background-color: white;
}
.unloadId-loadAft-but{
	background-color: rgb(37,175,245);
    height:32px;
    border-radius: 2px 2px 2px 2px;
    text-align: center;
    line-height: 32px;
    color:white;
    font-size: 14px;
    margin-bottom: 15px;
}
.debitHome-auditFour-Phone{
	background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 25px 25px 25px 25px;
    margin: 0 auto;
    padding: 16px;
    box-sizing: border-box;
}
.debitHome-auditFour-Phone img{
	width:18px;
	height:18px;
}
.debitHome-auditFour-Tel{
	color:rgb(90,90,90);
	text-align: center;
	margin-top: 5px;
}
/* 身份证错误 */
.debitHome-auditIDErro-load{
	background-color: red; 
	width:92px;
	height:24;
	border-radius: 12px 12px 12px 12px;
	text-align: center;
	line-height: 24px;
	color:white;
	margin-top: 25px;
}
.debitHome-auditIDErro-load-font{
	color:red; 
	font-size: 12px;
	width:132px;
	height:24;
	line-height: 24px;
}
.debitHome-auditIDErro-load-font span{
	margin-left: 7px;
}
.debitHome-auditIDErroExc{
	margin-top:46px;
	font-size: 12px;
}
.debitHome-auditIDErroExc span:first-child{
	color:black;
	margin-right: 15px;
}

}
.debitHome-auditIDErroExc span:last-child{   
    color:rgb(150,150,150);
}
.debitHome-auditIDErroRe{
	height:26px;
	width:80px;
	border-radius: 13px 13px 13px 13px;
	border:1px solid red;
	color:red;
	font-size:12px; 
	line-height: 26px;
	text-align: center;
	margin:10px auto -16px auto;
}

/* 未通过审核 正常 */
.debitHome-auditNormel{
	margin:46px 0 -36px 0;
	font-size: 12px;
}
.debitHome-auditNormel div{
	border-top: 1px solid rgb(239,239,244);
	line-height: 45px;
}
.debitHome-auditNormel div span:first-child{
	color:black;
	margin-right: 15px;
}
.debitHome-auditNormel div span:last-child{   
    color:rgb(150,150,150);
}
.debitHome-wrapbtn{
	padding:15px 10px 0px 10px;
}
.debitHome-bluebtn{
	background-color: rgb(37,175,245);
	height:32px;
	border-radius: 2px 2px 2px 2px;
	text-align: center;
	line-height: 32px;
	color:white;
	font-size: 14px;
	display: block;
	width:100%
}
.debitHome-bluebtn:active{
	background-color: #098BCE;
}
.monthChoose ul{font-size: 0;width: 100%;}
.monthChoose h3{    color: rgb(103,103,103);padding-bottom: 5px;}
.monthChoose li{display: inline-block;overflow: hidden;vertical-align:top;font-size: 12px;text-align: center;padding: 5px 0;}
.monthChoose li input[type='radio']{display: none;}
.monthChoose li label{  width:90%;    height: 30px;    margin-right: 0.8%;    display: inline-block;    border: 1px solid rgb(225,225,230);
    border-radius: 2px;
    text-align: center;
    line-height: 30px;
    position: relative;
    box-sizing: border-box;
    color: rgb(120, 120, 120);
    }
.monthChoose li input[type='radio']:checked + label {
    background-color: rgb(37,175,245);
    color: white;
    border: none;
}
.monthChoose li input[type='radio']:checked + label span:nth-child(2){
	width: 10px;
	height: 10px;
	border-radius: 12px;
    border: 1px solid rgb(37,175,245);
    background-color: white;
    color: rgb(37,175,245);
    text-align: center;
    line-height: 12px;
    display: inline-block;
    font-size: 12px;
    position:absolute;
    right:-2px;
    top:-2px;
    }
.monthChoose li input[type='radio']:checked + label span:nth-child(2):before{
    content: "";
    width: 6px;
    height: 4px;
    vertical-align: top;
    border-left: 1px solid rgb(37,175,245);
    border-bottom: 1px solid rgb(37,175,245);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    top: 2px;
    right: 2px;
    position: absolute;
}
.fifthpart li{width:20%}
.quarter li{width:25%}

 

/*输入框*/
.openSucInputwrap{
	position: relative;
	margin-bottom: 8px;
}
.openSucInputwrap .moneyitem{
	height:44px;
	position: absolute;
	padding:15px 0px 15px 10px;
	box-sizing: border-box;
	color: rgb(150, 150, 150);
	font-size: 16px;
	line-height: 1;
}
.openSucInputwrap input[type=tel]{
	text-align: right;
	width:100%;
	height:44px;
    background-color: rgb(245,245,245);
    border: 1px solid #e1e1e6;
    box-sizing: border-box;
    padding:15px 10px 15px 25px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 1;
}
.openSucInputwrap input.bindcardinput{
	text-align: left;
	width:100%;
	height:44px;
    background-color: #fff;
    border: 1px solid #e1e1e6;
    box-sizing: border-box;
    padding:15px 10px 15px 102px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1;
}
.openSucInputwrap select.bindcardinput{
	-webkit-appearance: none;
	text-align: left;
	width:100%;
	height:44px;
    background-color: #fff;
    border: 1px solid #e1e1e6;
    box-sizing: border-box;
    padding:12px 10px 12px 102px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1;
}
.pd5{
	padding-left: 102px !important;
}
.openSucInputwrap .bindcard-text{
	height:44px;
	position: absolute;
	padding:15px 0px 15px 10px;
	box-sizing: border-box;
	font-size: 14px;
	color:#000000;
	line-height: 1;
}
.opensucinput-info{
	display: none;
}
/*补充绑卡*/
.openBindCard-wrap{padding:15px}
.openbindcard-tips{font-size: 12px;line-height: 1;color: rgb(150, 150, 150);padding:0  9px 12px;line-height: 22px;}
.noshow{display: none;}
.openSucInputwrap .bill-arrowdown:before {
   position: absolute;
  top: 15px;
  right: 15px;
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  vertical-align: middle;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.openSucInputwrap .sendVerifycode{
    display: inline-block;
	position: absolute;
	background-color: #43b3ff;
	color: white;
	top: 7px;
    right: 10px;
    font-size: 12px;
    padding:9px 10px;
    line-height: 1;
    border-radius: 4px;
}
.openSucInputwrap .sendVerifycode:active{
	background-color: #259CEC;
}
.openSucInputwrap .sendVerifycode:disabled{
	background-color: #efeff4;
	color: rgb(128, 128, 128);
	min-width: 70px;
}
.bindcard-warn{
    /* display: none; */
    width: 100%;
    background-color: #ffdbdd;
    color: #fe7171;
    border-radius: 2px;
    line-height: 25px;
    margin: 0 auto;
    border: 1px solid #f7bcc2;
}
[class^='warnicon-'] {
  background: url(../i/debt-credit/debt-credit-CSSspript.png) no-repeat;
  background-size: 300px;
  display: inline-block;
}
.warnicon-inputerrortip{
	width: 20px;
    height: 20px;
    background-position: -132px -1px;
    vertical-align: top;
}
.warnicon-tipmessage{
    width: 20px;
    height: 20px;
    vertical-align: top;
    background-position: -132px -49px;
}
.bindcard-warn span{
	font-size: 12px;
	color: #fe7171;
}
.openbaindcard-footer{
	padding:0 15px;
}
.bg-white{
	background-color:#fff;
}
.secwrap{
	position: relative;
	z-index: 2;
	
}
 
.upgrade-help{
	z-index: 2;
}
/*开通未提现*/
.pre-moneywrap{
	padding-top:44px;
	text-align: center;
	padding-bottom: 50px;
	border-bottom: 1px solid #efeff4;
	box-sizing: border-box;
}
.pre-moneydetail{
	padding:0 15px;
}
.pre-moneydetail .pre-inputitem{
	padding:15px 0;
}
.pre-moneydetail .pre-inputitem:not(:first-child){
	
	border-top:1px solid #efeff4;
}
.upgradeAmountbtn:before{
	content: "+";
	display: inline-block;
    margin-right: 4px;
    position: relative;
    top:-1px;
}
.edutishi:before{
	content: "※ ";
	display: inline-block;
    margin-right: 3px;
    position: relative;
    top:-1px;
}
.openSucInputwrap input[type=mail] {
    text-align: left;
    width: 100%;
    height: 32px;
    background-color: #fff;
    border: 1px solid #e1e1e6;
    box-sizing: border-box;
    padding: 15px 10px 15px 5px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1;
}

/* 0505 tankuang */
.debitHome-lowAmount-black{
	background-color: rgba(0,0,0,0.75);
    background-size: contain;
    width: 100%;
    height: 100%;
    background-repeat: repeat;
    position: fixed;
    top: 0px;
    z-index: 100
}

.debitHome-lowAmount-alert{
	margin: 0 40px;
    background-color: rgb(255,255,255);
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    margin-top: 20%;
    padding: 30px 20px 15px 20px;
    position: relative;
}
.debitHome-lowAmount-ah{
	font-size: 16px;
	color: #ff8a3c;
	font-weight: 200;
}
.debitHome-lowAmount-ahno{
	font-size: 16px;
	color: #6dc1d6;
	font-weight: 200;
}
.debitHome-lowAmount-ap{
	font-size: 14px;
	color: #ababab;
	text-align: left;
	padding: 30px 0px 15px;
}
.debitHome-lowAmount-alertClose{
	position: absolute;
	right: 10px;
	top: 10px;
	width: 23px;
	height: 23px;
}
.debitHome-lowAmount-alertClose img{
	width: 100%;
	height: 100%;
}