.pro-header{
	width: 100%;
	height: 44px;
	background: #fff;
	margin-top: 20px;
	line-height: 44px;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
}
.proh-left{
	float: left;
	margin-left: 20px;
}
.proh-right{
	float: right;
	margin-right: 30px;
	position: relative;
}
.proh-right:after{
	content: "";
	width: 7px;
	height: 13px;
	background: url(../i/upgrade/jiantou.png) no-repeat;
	background-size: 7px 13px;
	position: absolute;
	right: -15px;
	top: 15px;
}
.pro-section{
	padding: 0 15px;
}
.credit-cke{
	margin-top: 39px;
	margin-left: 5px;
	position: relative;
}
.credit-cke input[type=checkbox]{
	opacity: 0;
}
.credit-cke input[type=checkbox]+label{
	    /* position: absolute; */
    /* left: 5px; */
    /* top: 3px; */
    display: block;
    float: left;
    width: 12px;
    height: 12px;
    background: url(../i/upgrade/cke.png) no-repeat;
    background-size: 24px 24px;
}
.credit-cke input[type=checkbox]:checked+label{
	/* position: absolute;
	left: 5px;
	top: 3px; */
	width: 12px;
	height: 12px;
	background: url(../i/upgrade/cke.png) no-repeat;
	background-size: 24px 24px;
	background-position: 0 -12px;
}
.credit-cke span{
	margin-left: 5px;
	color: #25aff5;
	float:left;
	height: 1.5rem;
}
.credit-cke span i{
	color: #969696;
}
.pros-btn{
	padding-top: 15px;
	padding-bottom: 15px;
}
.pros-btn button{
	background-color: rgb(37,175,245);
    height: 32px;
    border-radius: 2px 2px 2px 2px;
    text-align: center;
    line-height: 32px;
    color: white;
    font-size: 14px;
    display: block;
    width: 100%; 
}
.pro-section p{
	padding-left: 3px;
	line-height: 1.5;
	color: #aaaaab;
	font-size: 12px;
}
/*纭椤�/
.pro-address{
	height: 32px;
	text-align: center;
}
.pro-address span {
	font-size: 12px;
	line-height: 32px;
	color: #969696;
	padding-left: 7px;
	position: relative;
}
.pro-address span:before{
	content: "";
	position: absolute;
	width: 9px;
	height: 12px;
	background: url(../i/upgrade/address.png) no-repeat;
	background-size: 9px 12px;
	top: 1px;
	left: -7px;
}
.pro-nav{
	width: 100%;
	height: 44px;
	background: #fff;
	line-height: 44px;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
}
.pro-nav ul{
	display:-webkit-box;
	display: box;
}
.pro-nav ul li{
	-webkit-box-flex:1;
	-box-flex:1;
	text-align: center;
	margin: 0 15px;
}
.pro-nav ul li.on{
	color: #25aff5;
	border-bottom: 2px solid #25aff5;
}
.pros-name{
	margin-top: 5px;
}
.pros-name ul{
	padding: 0 15px;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	background: #fff;
}
.pros-name ul li{
	border-bottom: 1px solid #e6e6e6;
	height: 44px;
	line-height: 44px;
	position: relative;
	/* display: -webkit-box;
	display: box; */
}
.pros-name ul li:last-child{
	border-bottom: none;
}
.pros-name ul li label{
	width: 25%;
	padding-left: 5px;
	display: block;
	float: left;
}
.pros-name ul li input{
	font-size: 14px;
	/* line-height: 44px; */
	display: block;
	width: 70%;
	padding: 11px 0;
	/* -webkit-box-flex:1;
	-box-flex:1; */
	/* padding-top: 15px; */
}
.pros-name ul li img{
	position: absolute;
	width: 68px;
  	height: 27px;
  	top: 9px;
  	right: 5px;
}
.pros-name input[placeholder] {
	padding: 11px 0;
}
.line{
	margin-right: -15px;
	margin-left: -15px;
	padding-left: 15px;
}
.pros-lian{
	/* border-top: 5px solid #efeff4;
	margin-right: -15px;
	margin-left: -15px;
	padding-left: 15px; */
	margin-top: 5px;
}
.pros-lian ul{
	padding: 0 15px;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	background: #fff;
} 
.pros-lian ul li{
	border-bottom: 1px solid #e6e6e6;
	height: 44px;
	line-height: 44px;
	 display: -webkit-box;
	display: box; 
	position: relative;
}
 .pros-lian ul li:last-child{
	border-bottom: none;
}
.pros-lian ul li label{
	width: 25%;
	padding-left: 5px;
	display: block;
	/*float: left; */
}
.pros-lian ul li input{
	font-size: 14px;
	height: 20px;
	/* line-height: 44px; */
	display: block;
 	width: 70%;
	padding: 12px 0;
	/* -webkit-box-flex:1;
	-box-flex:1; */
}
.pros-lian ul li img{
	position: absolute;
	width: 68px;
  	height: 27px;
  	top: 9px;
  	right: 5px;
}
.pros-lian input[placeholder] {
	padding: 11px 0;
	line-height: 20px;
} 
.pros-footer{
	padding: 0 15px 30px;
}
.pros-footer .credit-cke{
	margin-top: 20px;
	margin-left: 5px;
	position: relative;
}
.pros-footer p{
	padding-left: 3px;
	line-height: 1.5;
	color: #aaaaab;
	font-size: 12px;
}
.pros-footer p.forgotpwd{
	color: #25aff5;
	text-align: right;
}
/*鎵惧洖瀵嗙爜椤�/
.allbg{
	width: 100%;
	height: 100%;
	background: #fff;
}
.forgotUl{
	padding: 0 15px;
}
.forgotUl li{
	border-bottom: 1px solid #e6e6e6;
	padding: 20px 0;
}
.forgotUl li h2{
	color: #25aff5;
	padding-bottom: 12px;
}
.forgotUl li p{
	line-height: 1.5;
	color: #787878;
}
/*鍩庡競鍒楄〃椤�/
.cityTitle{
	background: #fff;
	height: 37px;
	padding-left: 15px;
	font-size: 12px;
	line-height: 37px;
}
.proCity-cell h2{
	height: 30px;
	line-height: 30px;
	color: #787878;
	padding-left: 15px;
}
.proCity-cell ul{
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	background: #fff;
	padding-left: 15px;
	-webkit-overflow-scrolling: touch;
  	overflow-scrolling: touch;
}
.proCity-cell ul li{
	font-size: 12px;
	height: 37px;
	line-height: 37px;
	border-bottom: 1px solid #e6e6e6;
}
.proCity-cell ul li:last-child{
	border-bottom: none;
}
.fixnav{
	position: fixed;
	top: 0;
	right: 0px;
}
.fixnav ul{
	text-align: right;
	width: 50px;
	padding-right: 9px;
	/* height: 100px; */
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
  	overflow-scrolling: touch;
}