



/* reset */
html,
body {
  min-height: 100%;
  background-color: #efeff4;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-align: justify;
}
a img,body,button,div,fieldset,form,h1,h2,h3,h4,h5,h6,html,img,input,li,menu,ol,p,textarea,ul,figure,dl,dt,dd {
  padding: 0;
  margin: 0;
  border: 0;
}
li,ol,ul,dl,dt,dd {
  list-style: none
}

/* b,em,h1,h2,h3,h4,h5,h6,i,th,td{
  font-size: 1em;
  font-weight: 400;
  font-style: normal
} */
/* body,button,input,select,textarea {
  font: 400 14px/1.5 helvetica,verdana,san-serif;
  outline: 0;
  color: #5c5658;
} */

button,input[type=button],input[type=password],input[type=submit],input[type=text],input[type=number],input[type=tel],textarea {
  -webkit-appearance: none
}

a,a:visited {
  text-decoration: none;
  color: #5c5658
}

.img img,video {
  vertical-align: middle
}
img {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;
  border: 0;
  max-width: 100%;
  display: block;

}

body {
  min-width: 320px;
  background: #fff;
}
.clear:after {
  content: '';
  display: block;
  clear: both
}

.mark{float:left}
.subMark{float:right}
.left{float: left;}
.right{float: right;}

.mt5{margin-top: 5px;}
.mb5{margin-bottom: 5px;}
.ml5{margin-left: 5px;}
.mr5{margin-right: 5px;}

.mt10{margin-top: 10px;}
.mt15{margin-top:15px;}
.mb10{margin-bottom: 10px;}
.ml10{margin-left: 10px;}
.mr10{margin-right: 10px;}
.mr15{margin-right: 15px;}

.mb6{margin-bottom: 6px;}

.pt5{padding-top: 5px;}
.pb5{padding-bottom: 5px;}
.pl5{padding-left: 5px;}
.pr5{padding-right: 5px;}

.pt10{padding-top: 10px;}
.pb10{padding-bottom: 10px;}
.pl10{padding-left: 10px;}
.pr10{padding-right: 10px;}
.pb48{padding-bottom: 48px;}



.textRight{text-align: right;}
.textCenter{text-align: center;}
.textLeft{text-align: left;}

a.white,.white{color: #fff}
a.black,.black{color: #000}


.fs12{font-size: 12px;}
.fs14{font-size: 14px;}
.fs16{font-size: 16px;}

.lh28{line-height: 28px;}
.loading{position: fixed;height: 100%;width: 100%;text-align: center;vertical-align: middle;background: rgba(0,0,0,0.7);z-index: 999;vertical-align:middle;}
.loading img{margin:auto;position:absolute;top:0;left:0;bottom:0;right:0;}


.animated {
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}



