.upgrade-banner{	
	background: url(../i/upgrade/upgradebg.png) no-repeat left bottom;
	background-size:100%;
	padding:27px 0 43px;
	text-align: center;
	background-color: #25aff5;
	color: #fff;
	box-sizing: border-box;
}
.upgrade-amount{
	font-size: 38px;
	line-height: 1em;
}
.hide {
    display:none;
}
.upgrade-box{background-color: #EFEFF4; margin-bottom: 100px;}
.upgrade-box .hd{ /*height:56px; line-height:56px; */ font-size:12px; background:#fff;   border-bottom: 1px solid #e1e1e6;width: 100%;
overflow: hidden; padding:0;box-sizing: border-box;}
.upgrade-box .hd ul{   /*height:55px; */top:0; overflow: hidden; width: 100%;  box-sizing: border-box;}
.upgrade-box .hd ul li{   float: left;  width: 25%;  text-align: center; }
/* .upgrade-box .hd ul li:nth-of-type(1){
	 width: 33%; 
}
.upgrade-box .hd ul li:nth-of-type(2){
	 width: 34%; 
}
.upgrade-box .hd ul li:nth-of-type(3){
	 width: 33%; 
} */
.upgrade-box .hd ul .on{   }
.upgrade-box .hd ul .on a{ display:block; /* 修复Android 4.0.x 默认浏览器当前样色无效果bug */box-sizing: border-box;  }
.upgrade-box .hd ul li .tabmenu .tabmenutext{border-right: 1px solid #efeff4;}
.upgrade-box .hd ul li:last-of-type .tabmenu .tabmenutext{border-right: none;}
.upgrade-box .bd{ background-color: #fff;}
.upgrade-box .tempWrap{margin-top: 7px; /*    border-bottom: 1px solid #e1e1e6; */}
.upgrade-box .bd li dl dt{position: relative;padding:16px 15px 16px 0;font-size: 14px;color: #000;}
/*.upgrade-box.bd li a{ color:#666;  }
.upgrade-box .bd li a{ -webkit-tap-highlight-color:rgba(0,0,0,0); }*/  /* 去掉链接触摸高亮 */
.upgrade-box .bd ul{padding: 0;}
.upgrade-box .hd  .on .tabmenu { color: rgb(37, 175, 245);}
.upgrade-box .hd  a.tabmenu {  display: block;color: rgb(150, 150, 150);text-align: center;padding-top: 8px;}
.upgrade-box .hd  .tabmenu {/*width: 50px; */margin: 0 auto; height: 55px;box-sizing: border-box;}
.upgrade-box .hd  ul li .tabmenu .tabmenutext{display: inline-block; width: 100%; line-height: 1;padding-top: 0px;padding-bottom: 0;}
.upgrade-box .hd  ul li.on .tabmenu .tabmenutext .tabmenutextbottom{ padding-bottom: 5px;   border-bottom: 2px solid #25aff5;}
.menu{
	border-top: 1px solid #e1e1e6;
	border-bottom: 1px solid #e1e1e6;
	padding-left: 15px;
	background-color: #fff;
}
.bgnw{
	border: none;
	background: #efeff4;
	padding-left: 17px;
	margin-left: -17px;
}
.menu-fonder{
	width: 93.75%;
	height: 105px;
	background-color: #fff;
	border-radius: 4px;
	border: 1px solid #e6e6e6;
}
.menu-fonder p{
	text-align: center;
	color: #bebebe;
}
.menu-fonder .topCard{
	margin-top: 25px;
	margin-bottom: 17px;
}
.menu-fonder .topCard span{
	color: #25aff5;
	position: relative;
	padding-left: 22px;
  font-size: 16px;
  line-height: 20px;
}
.menu-fonder .topCard span:before{
	content: "";
	position: absolute;
	left: -22px;
	width: 35px;
	height: 21px;
	background: url(../i/bill/billicon_01.png) no-repeat;
	background-size: 96px 320px;
	background-position: -61px -94px;
}
.menu .credit-add{
	padding-left: 17px;
	margin-left: -17px;
	border-top: 6px solid #efeff4;
}
.menu ul li{
	font-size: 14px;
	color: #000;
	padding:14px 15px 14px 0;
	display: block;
	box-sizing: border-box;
	border-bottom: 1px solid #efeff4;
	box-sizing: border-box;
	/* height: 60px; */
}
 
.menu ul li:last-of-type{
	border-bottom: none;
}
/*提额图标*/
[class^='upgradeicon-'] {
  background: url(../i/bill/billicon_01.png) no-repeat;
  background-size: 96px 320px;
  display: block;
  width:16px;
	height:24px;
	margin:0 auto;
}
/* 已认证银行卡 */
.crdeiticon{
  width: 31px;
  height: 31px;
  background: url(../i/upgrade/bankLogos1.png) no-repeat;
  background-size: 62px 480px;
  margin-top: 3px;
  margin-right: 15px;
  float: left;
  border: 1px solid #cccccc;
  border-radius: 10px;
  display: block;
}
.crdeiticon.BCOM {
  background-position: 0 0;
}
.crdeiticon.PINGAN{
  background-position: 0 -31px;
}
.crdeiticon.ABC {
  background-position: 0 -62px;
}
.crdeiticon.CMBC {
  background-position: 0 -93px;
}
.crdeiticon.ICBC {
  background-position: 0 -124px;
}
.crdeiticon.CCB {
  background-position: 0 -155px;
}
.crdeiticon.BOC {
  background-position: 0 -186px;
}
.crdeiticon.PSBC {
  background-position: 0 -217px;
}
.crdeiticon.CMB {
  background-position: 0 -248px;
}
.crdeiticon.CEB {
  background-position: 0 -279px;
}
.crdeiticon.CNCB {
  background-position: 0 -310px;
}
.crdeiticon.SPD {
  background-position: 0 -341px;
}
.crdeiticon.CIB {
  background-position: 0 -372px;
}
.crdeiticon.CGB {
  background-position: 0 -403px;
}
.crdeiticon.BOB {
  background-position: -31px 0;
}
.crdeiticon.CITIBANK {
  background-position: -31px -31px;
}
.crdeiticon.HUAXIA {
  background-position: -31px -93px;
}

.addcrdeiticon{
  width: 31px;
  height: 31px;
  margin-right: 15px;
  float: left;
  display: block;
  background: url(../i/upgrade/bankLogos1.png) no-repeat;
  background-size: 62px 480px;
  background-position: -31px -124px; 
}
/*信用卡认证*/
.upgradeicon-credit{
	width: 18px;
	height: 24px; 	
 	background-position: -78px 0;
}
.on .tabmenu .upgradeicon-credit{
	width: 18px;
	height: 24px; 	
 	background-position: -78px -24px;
}
 /*消费认证*/
.on .tabmenu  .upgradeicon-consumption{
	background-position: 0 -78px;
	margin:0 auto;
	display: block;
}
.upgradeicon-consumption{
	background-position: 0 -104px;
}
/*机构认证*/
.on .tabmenu  .upgradeicon-institutions{
	background-position: 0 -130px;
}
.upgradeicon-institutions{
	background-position: 0 -156px;
}
/*身份认证*/
.on .tabmenu .upgradeicon-identity{
	width:18px;
	background-position: 0 -208px;
}
.upgradeicon-identity{
	width:18px;
	background-position: 0 -182px;
}
/*社交认证*/
.on .tabmenu .upgradeicon-social{
	width:18px;
	background-position: 0 -258px;
}
.upgradeicon-social{
	width:18px;
	background-position: 0 -232px;
}
.authtypeimg{
	width:31px;
	height:31px;
	display: inline-block;
	vertical-align: top;
}
/*淘宝*/
.upgradeicon-taobao{
	height: 34px;
    width: 36px;
    display: inline-block;
    vertical-align: top;
    background-position: -23px -53px;
    margin-right: 5px;
}
/*京东*/
.upgradeicon-jingdong{
	height: 34px;
    width: 36px;
    display: inline-block;
    vertical-align: top;
    background-position: -23px -92px;
    margin-right: 5px;
}
/*央行*/
.upgradeicon-yanghang{
	height: 34px;
    width: 36px;
    display: inline-block;
    vertical-align: top;
    background-position: -23px -132px;
    margin-right: 5px;
}
/*芝麻*/
.upgradeicon-zhima{
	height: 34px;
    width: 36px;
    display: inline-block;
    vertical-align: top;
    background-position: -23px -170px;
    margin-right: 5px;
}
/*手机运营商*/
.upgradeicon-mobile{
	height: 34px;
    width: 36px;
    display: inline-block;
    vertical-align: top;
    background-position: -23px -208px;
    margin-right: 5px;
}
/*学信*/
.upgradeicon-xuexin{
	height: 34px;
    width: 36px;
    display: inline-block;
    vertical-align: top;
    background-position: -23px -244px;
    margin-right: 5px;
}
/*企业邮箱*/
.upgradeicon-email{
	height: 34px;
    width: 36px;
    display: inline-block;
    vertical-align: top;
    background-position: -60px -56px;
    margin-right: 5px;
}
/*新浪*/
.upgradeicon-sina{
	height: 34px;
    width: 36px;
    display: inline-block;
    vertical-align: top;
    background-position: -23px -282px;
    margin-right: 5px;
}
.upgradeicon-help{
	height: 30px;
    width: 18px;
    display: block;
    vertical-align: top;
    background-position: 0px -282px;
    margin-right: 5px;

}
.upgrade-authe{display: inline-block;}
.upgrade-authe .authename{
	font-size: 14px;
	line-height: 14px;
	color: #000;
	display: block;
}
.upgrade-authe .creditname{
	font-size: 14px;
	line-height: 34px;
	color: #333;
	display: block;
}
.upgrade-authe .addCredit{
	font-size: 14px;
	line-height: 14px;
	color: #25aff5;
	display: block;
}
.upgrade-authe .authedesc{
	font-size: 12px;
	color: rgb(150, 150, 150);
  display: inline-block;
  padding-top: 3px;
}
.upgrade-authbtn{
	display: inline-block;
	height:32px;
	line-height: 32px;
	float: right;
}
.authorized{
	font-size: 12px;
	color: rgb(150, 150, 150);
}
.authorized{
		padding:5px 10px;
	font-size: 12px;
	color: rgb(150, 150, 150);
    height: 23px;
    padding: 5px 10px;
    border: 1px solid #fff;
}
a.upgrade-goauth,a.upgrade-goauth:visited{
	height:23px;
	padding:5px 10px;
	border-radius: 15px;
	border:1px solid #e6e6e6;
	color: rgb(37, 175, 245);
	font-size: 12px;
}
/*0525信用卡回显状态(头)*/
a.upgrade-loding{
	height:23px;
	padding:5px 10px;
	border-radius: 15px;
	border:1px solid #e6e6e6;
	color: rgb(37, 175, 245);
	font-size: 12px;
}
a.upgrade-crdeit{
	height:23px;
	padding:5px 10px;
	border-radius: 15px;
	border:1px solid #e6e6e6;
	color: rgb(265, 0, 0);
	font-size: 12px;
}
/*0525信用卡回显状态(底)*/
.upgrade-help{
	position: fixed;
	bottom: 0px;
	width: 100%;
	background-color: rgb(239, 239, 244);
	color: rgb(37, 175, 245);
	padding: 15px 0;
  text-align: center;
}
.circle{
	margin:0 auto;
	width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #e1e1e6;
    display: block;
    padding:6px 15px;
    background-color: #fff;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.upgrade-help a,.upgrade-help a:visited{
	display: inline-block;
	text-align: center;
	font-size: 14px;
	color: rgb(37, 175, 245);
}
/*弹出框*/
.upgrade-alert{
	display: none;
  	width: 100%;
  	height: 100%;
  	position: fixed;
  	top: 0;
  	left: 0;
  	background: #000000;
  	opacity: 0.6;
  	z-index: 1004
}
.upgrade-false {
  display: none;
  width: 270px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin: -91px 0 0 -135px;
  background: #ffffff;
  font-size: 17px;
  border-radius: 6px;
  z-index: 1005;
}
.upgrade-false h2 {
  font-size: 17px;
  margin-top: 18px;
  text-align: center;
}
.upgrade-false-body {
  width: 96.6%;
  margin: 18px auto 24px;
  text-align: center;
}
.upgrade-false-nav {
  border-top: 1px solid #afafbc;
  display: -webkit-box;
  display: box;
  color: #47a3ff;
}
.upgrade-false-nav li {
  -webkit-box-flex: 1;
  -box-flex: 1;
  border-right: 1px solid #afafbc;
  font-size: 17px;
  text-align: center;
  height: 42px;
  line-height: 42px;
}
.upgrade-false-nav li:nth-last-child(1) {
  border-right: none;
}
